{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<div class="top-left">
<body>
	<section id="header">
		<div class="container">
			<div class="upload">
				<h3>upload cisco "show running" configuration to parse:</h3>
					<div class="upload_file">
						<form action="/action_page.php"><br>
				  		<input type="file" id="myFile" name="filename"><br><br>
				  		<input type="submit">
						</form>
					</div>
			</div>
	</section>
</body>
</div>
{% endblock %}
