{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<div class="top-left">
<body>
      	<section id="header">
                <div class="container">
                        <div class="upload">
                                        <div class="time">
                                                  <h1 id="time"></h1>
                                                  <script>
                                                        var myVar = setInterval(myTimer, 100);
                                                                function myTimer() {
                                                                                var d = new Date();
                                                                                var t = d.toTimeString();
                                                                                document.getElementById("time").innerHTML = t;
                                                                                   }
                                                  </script>
                                        </div>
                        </div>
        </section>
</body>
</div>
{% endblock %}
