{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<div class="top-left">
<body>
	<section id="header">
		<div class="container">
			<div class="upload">
				<h3>upload cisco "show running" configuration to parse:</h3>
					<div class="upload_file">
						<form enctype="multipart/form-data" method="post" action="{% url 'upload_read' %}"><br>
							{% csrf_token %}
				  			<input type="file" name="running_config"><br><br>
				  			<input type="submit" value="Download services .csv format">
						</form>
					</div>
			</div>
	</section>
</body>
</div>
{% endblock %}
