{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<style>
textarea::placeholder {
  font-size: 25px;
}
</style>
<body>
	<section id="header">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8">
					<form action="config_compare_value" method='post'>
						<textarea autofocus placeholder="COMPORT NUMBER" style="font-size: 30px; background-color: black; color: #FF7700;" name="config_compare_value" cols="45" rows="1" class="inputText" id="inputText1" onfocus="this.value=''; this.onfocus=null;">
						</textarea>
						{% csrf_token %}
						<br><div class="header-left"><input type="submit" name="config_compare_submit" width="200" height="200"></div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>

{% endblock %}
